<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Book List</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Library App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/available_books">Available Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/my_books">My Books</a>
        </li>

      </ul>
      <div>
        <a class="nav-link text-white" href="/user_logout">Logout</a>
      </div>
      <div>
        <a class="nav-link text-white" href="/user_register">Register</a>
      </div>
    </div>
  </div>
</nav>

<div class="container my-5 col-md-8">
  <h1>Available Books</h1>

  <a href = "/book_register" class="btn btn-primary btn-sm mb-3"> Add New Book </a>

  <table class="table  table-striped table-hover">
    <thead>
    <tr>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
          Id</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
          Name</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=author&sortDir=' + ${reverseSortDir}}">
          Author</a>
      </th>
      <th>
        <a th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
          Price</a>
      </th>
      <th>
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b :${listBooks}">
      <td th:text="${b.id}"></td>
      <td th:text="${b.name}"></td>
      <td th:text="${b.author}"></td>
      <td th:text="${b.price}"></td>
      <td><a class="btn btn-secondary btn-sm" th:href="@{/mylist/{id}(id=${b.id})}">Add To MyBooks</a>
        <a class="btn btn-secondary btn-sm" th:href="@{/editBook/{id}(id=${b.id})}">Edit</a>
        <a class="btn btn-secondary btn-sm" th:href="@{/deleteBook/{id}(id=${b.id})}">Delete</a>
      </td>

    </tr>

    </tbody>
  </table>

<!--  <div th:if = "${totalPages > 1}">-->
<!--    <div class = "row col-sm-10">-->
<!--      <div class = "col-sm-2">-->
<!--        Total Rows: [[${totalItems}]]-->
<!--      </div>-->
<!--      <div class = "col-sm-1">-->
<!--					<span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
<!--						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;-->
<!--					</span>-->
<!--      </div>-->
<!--      <div class = "col-sm-1">-->
<!--        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>-->
<!--        <span th:unless="${currentPage < totalPages}">Next</span>-->
<!--      </div>-->

<!--      <div class="col-sm-1">-->
<!--        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>-->
<!--        <span th:unless="${currentPage < totalPages}">Last</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div th:if = "${totalPages > 1}">
    <div class = "row col-sm-10">
      <div class = "col-sm-2">
        Total Rows: [[${totalItems}]]
      </div>
      <div class = "col-sm-auto">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
      </div>

      <div class = "col-sm-auto">
        <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
      </div>

      <div class = "col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
      </div>

      <div class="col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
      </div>

    </div>
  </div>

</div>

</body>
</html>